* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


.top-container {
    background-image: linear-gradient(to right bottom, #38c9f9 0%, white);
    padding-bottom: 5%;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    padding: 1.5%;
    margin: 0 3% 0;
    align-items: center;
}

.navbar-options {
    display: flex;
    gap: 15px;
    cursor: pointer;
}

.hamburger-menu {
    width: 14%;
    border: 4px solid black;
    display: none;
    flex-direction: column;
    gap: 8px;
    padding: 8px;
    border-radius: 6px;
    position: relative;
}

.hamburger-menu span {
    border: 2px solid black;
    width: 100%;
}

.hamburger-links {
    position: absolute;
    top: 11%;
    right: 4%;
    display: none;
    flex-direction: column;
    width: 40%;
    height: 26%;
}

.hamburger-links a {
    text-decoration: none;
    background-color: #38c9f9;
    border: 1px solid rgb(8, 90, 141);
    padding: 10px;
}

.addtocart {
    position: relative;
    /* background: #000; */
}

#count-symbol {
    position: absolute;
    left: 95%;
    top: 1.8%;
}





/* hero-section */
.hero-section {
    display: flex;
    justify-content: center;
    /* border: 5px solid white; */
}

.hero-section-gifs {
    display: flex;
    flex-direction: column;
    gap: 4%;
    padding-top: 7%;
    /* border: 5px solid black; */
}

.hero-section-gifs img {
    width: 50%;
    height: 35%;
    border-radius: 15px;
}

.heading {
    /* border: 5px solid green; */
    text-align: center;
    padding: 20px;

}

.heading h1 {
    color: #ffffff;
    font-size: 4rem;
}

.heading a button {
    margin-top: 1rem;
    width: 67%;
    height: 2.8rem;
    font-size: 1rem;
    border-radius: 8px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.main-shoe {
    /* border: 5px solid purple; */
    display: flex;
    justify-content: center;
}

.main-shoe img {
    margin-top: 2%;
    width: 70%;
    transform: rotate(-12deg);
    transition-duration: 0.3s;
}

.main-shoe img:hover {
    transform: rotate(0deg);
    transition-duration: 0.3s
}

.social-media {
    /* border: 5px solid teal; */
    display: flex;
    flex-direction: column;
    cursor: pointer;
    padding-top: 9%;
}

.social-media a svg {
    margin-top: 5%;
    margin-left: 40%;
    width: 25%;
    transition-duration: 0.5s;
}

.social-media a svg:hover {
    transform: scale(1.3);
    transition-duration: 0.5s;
}

/* POPULAR SALES SECTION  */
.popular-sales-section {
    margin: 0 3% 0;
    display: flex;
    flex-direction: column;
}

.popular-sales-section-heading h2 {
    margin-top: 2%;
    font-size: 3rem;
    font-weight: bolder;
}

.popular-sales-section-container {
    display: flex;
    justify-content: space-between;
    gap: 6%;
    margin-top: 2%;
}

.popular-sales-container-1 {
    display: flex;
    align-items: center;
    padding: 1%;
    background-image: linear-gradient(to bottom, #4649FF 70%, #7978FF);
    border-radius: 9px;
    transition-duration: 0.5s;
    box-shadow: 12px 12px 9px rgba(0, 0, 0, 0.5);
}


.popular-sales-details {
    width: 180%;
}

.popular-sales-details h4 {
    font-size: 1.6rem;
    color: #ffffff;
}

.popular-sales-details h5 {
    font-size: 1.2rem;
    color: #ffffff;
}

.popular-sales-details span {
    font-size: 1.3rem;
    font-weight: 900;
    color: #ffffff;
}

.buying-details {
    margin-top: 4%;

}

.buying-details button {
    background-color: #ffffff;
    padding: 3%;
    border-radius: 5px;
    color: #000000;
    font-size: 1.3rem;
    font-weight: 700;
    cursor: pointer;
    border-radius: 8px;
}


.popular-sales-container-2 {
    display: flex;
    align-items: center;
    padding: 1%;
    background-image: linear-gradient(to bottom, #ED2B2A 70%, #F15A59);
    border-radius: 9px;
    transition-duration: 0.5s;
    box-shadow: 12px 12px 9px rgba(0, 0, 0, 0.5);
}

.popular-sales-container-3 {
    display: flex;
    align-items: center;
    padding: 1%;
    background-image: linear-gradient(to bottom, #C47AFF 70%, #F3CCFF);
    border-radius: 9px;
    transition-duration: 0.5s;
    box-shadow: 12px 12px 9px rgba(0, 0, 0, 0.5);
}

.popular-sales-container-1:hover,
.popular-sales-container-2:hover,
.popular-sales-container-3:hover {
    transform: scale(1.1);
    transition-duration: 0.5s;
}

.popular-sales-image img {
    width: 90%;
    transform: rotate(-15deg);
    transition-duration: 0.5s;
}

.popular-sales-image img:hover {
    transform: rotate(0);
    transition-duration: 0.5s;
}

/* HIGHLIGHTS CONTAINER */
.highlights-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 3.5%;
}

.highlights-details h3 {
    font-size: 3rem;
    color: #38c9f9;
}

.highlights-details h2 {
    font-size: 3.5rem;
}

.highlights-details h4 {
    font-size: 1.5rem;
}

.highlights-details button {
    margin-top: 5%;
    padding: 3%;
    border-radius: 8px;
    cursor: pointer;
    background-color: #000000;
    color: #ffffff;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.9);
}

.highlights-shoe img {
    width: 55%;
    transform: rotate(15deg);
    transition-duration: 0.3s;
}

.highlights-shoe img:hover {
    width: 55%;
    transform: rotate(0deg);
    transition-duration: 0.3s;
}



/* media queires */
@media(width<=600px) {

    /* navigation */
    .hamburger-menu {
        display: flex;
    }

    .navbar-options {
        display: none;
    }

    .logo a img {
        width: 100px;
    }

    /* hero section */

    .hero-section-gifs img {
        width: 70%;
        height: 35%;
        border-radius: 10px;

    }

    .heading h1 {
        font-size: 1rem;
    }

    .hero-section-gifs {
        margin-top: 5%;
        margin-left: 5%;
    }

    .heading a button {
        font-size: 0.7rem;
    }

    .social-media a svg {
        width: 45%;
        margin-bottom: 15%;

    }

    /* HERO SECTION */
    .popular-sales-section-container {
        flex-wrap: wrap;
        gap: 30px;
        padding: 5%;
    }

    .popular-sales-section-heading h2 {
        font-size: 2.7rem;
    }

    .popular-sales-details h4,
    .popular-sales-details span {
        font-size: 1rem;
    }

    .buying-details {
        padding: 5%;
    }

    .buying-details button {
        border-radius: 5px;
        padding: 3%;
        margin-bottom: 3%;
        width: 100%;
        font-size: 0.8rem;
    }

    .popular-sales-details h5 {
        font-size: 0.8rem;
    }

    .popular-sales-section-heading h2 {
        text-align: center;
    }

    .popular-sales-container-1,
    .popular-sales-container-2,
    .popular-sales-container-3 {
        padding: 5%;
    }
}

@media(width<=1200px) and (width>600px) {
    .heading h1 {
        font-size: 2rem;
    }

    /* HERO SECTION */

    .hero-section-gifs {
        margin-top: 5%;
        margin-left: 5%;
    }
}

/* POPULAR SALES */
@media(width<=1250px) and (width>600px) {

    .popular-sales-section-heading {
        margin-top: 4%;
        text-align: center;
    }

    .popular-sales-section-container {
        flex-wrap: wrap;
        gap: 25px;
        padding: 4%;
    }

    .popular-sales-container-1,
    .popular-sales-container-2,
    .popular-sales-container-3 {
        padding: 1.5%;
    }

    .popular-sales-details svg {
        width: 4.5%;
    }
}


@media(width<450px) {
    .popular-sales-details svg {
        width: 15%;
    }
}

/*    .popular-sales-container-1,
    .popular-sales-container-2,
    .popular-sales-container-3 {
        display: flex;
        flex-direction: column;
        padding: 12% 8%;
        text-align: center;
    }

    .popular-sales-container-1 .buying-details button,
    .popular-sales-container-2 .buying-details button,
    .popular-sales-container-3 .buying-details button {
        width: 20%;
        border: 5px solid black;
        padding: 1%;
        margin-top: -10%;
    }

    .popular-sales-details h4 {
        font-size: 2rem;
    }

    .popular-sales-details h5 {
        font-size: 1rem;
    }
} */

/* HIGHLIGHTS SECTION */
@media(width<=1235px) {
    .highlights-container {
        flex-wrap: wrap-reverse;
        justify-content: center;
    }

    .highlights-shoe {
        display: flex;
        justify-content: center;
    }

    .highlights-shoe img {
        margin-top: 5%;
    }
}

@media(width<=1005px) and (width>700px) {

    .highlights-details h3 {
        font-size: 2rem;
    }

    .highlights-details h2 {
        font-size: 2.8rem;
    }

    .highlights-details h4 {
        font-size: 1.5rem;
    }
}


@media(width<=700px) and (width>200px) {

    .highlights-details h3 {
        font-size: 1.4rem;
    }

    .highlights-details h2 {
        font-size: 1.9rem;
    }

    .highlights-details h4 {
        font-size: 1rem;
    }

    .highlights-details button {
        padding: 2.5%;
    }

}


/* TOP RATED SALES */
.top-rated-sales {
    padding: 2%;
}

.top-rated-sales-heading h1 {
    font-size: 3rem;
}

.top-rated-sales-container {
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
}

.top-rated-sales-row {
    display: flex;
    justify-content: space-between;
    /* flex-wrap: wrap; */
    margin-bottom: 2%;
}

.top-rated-card {
    max-width: 20%;
    height: 330px;
    text-align: center;
    padding: 1%;
    border-radius: 19px;
    color: #ffffff;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.5);
    transition-duration: 0.3s;
}

.top-rated-card:hover {
    transform: scale(1.1);
    transition-duration: 0.3s;
}

.top-rated-card h3 {
    font-size: 1.5rem;
}

.top-rated-card h4 {
    font-size: 1.3rem;
}

.top-rated-card span {
    font-size: 1.5rem;
    font-weight: 900;
}

.tr-buying-details {
    margin: 3% 0;
}

.tr-buying-details button {
    font-weight: 700;
    font-size: 1.1rem;
    padding: 2%;
    border-radius: 7px;
    cursor: pointer;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
}

.tr-image img {
    margin-top: 7%;
    width: 65%;
    transform: rotate(12deg);
    transition-duration: 0.3s;
}

.tr-image img:hover {
    transform: rotate(0deg);
    transition-duration: 0.3s;
}

.card1 {
    background-image: linear-gradient(to bottom, #205295 65%, #548aba);
}

.card2 {
    background-image: linear-gradient(to bottom, #379237 65%, #B6E388);
}

.card3 {
    background-image: linear-gradient(to bottom, #B70404 65%, #b95353);
}

.card4 {
    background-image: linear-gradient(to bottom, #F86F03 65%, #FFE569);
}

.card5 {
    background-image: linear-gradient(to bottom, #8d6c47 65%, #cfc3ab);
}

.card6 {
    background-image: linear-gradient(to bottom, #5BC0F8 65%, #dfe7eb);
}

.card7 {
    background-image: linear-gradient(to bottom, #FFC93C 65%, #f4eddc);
}

.card8 {
    background-image: linear-gradient(to bottom, #C38154 65%, #dec5b5);
}

.card9 {
    background-image: linear-gradient(to bottom, #892cb7 65%, #AD7BE9);
}

.card10 {
    background-image: linear-gradient(to bottom, #8de30b 65%, #c4de9e);
}

.card11 {
    background-image: linear-gradient(to bottom, #000000 65%, #251e1e);
}

.card12 {
    background-image: linear-gradient(to bottom, #19376D 65%, #384764);
}

@media(width<=1200px) and (width>900px) {

    .top-rated-sales-heading h1 {
        margin: 4% 0;
    }

    .top-rated-sales-row {
        justify-content: space-between;
        margin-bottom: 5%;

    }

    .top-rated-card {
        width: 50%;
        height: 340px;
        padding: 2%;
    }

    .top-rated-card h3 {
        font-size: 1.2rem;
    }

    .top-rated-card h4 {
        font-size: 1.1rem;
    }

    .top-rated-card span {
        font-size: 1.3rem;
    }

    .top-rated-card svg {
        width: 15%;
    }

    .tr-buying-details {
        margin: 5% 0;
    }

    .tr-buying-details button {
        width: 60%;
        padding: 3.5%;
        margin-bottom: 5%;
        font-size: 0.8rem;
    }

    .tr-image img {
        width: 85%;
    }
}

@media(width<=900px) {
    .top-rated-sales-heading {
        margin: 4% 0;
        text-align: center;
    }

    .top-rated-sales-row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .top-rated-card {
        padding: 4%;
        min-width: 300px;
        flex-basis: 40%;
        margin-bottom: 4%;
    }
}

@media(width<=600px) {

    .top-rated-sales-heading h1,
    .popular-sales-section-heading h2 {
        font-size: 2.2rem;
    }
}

/* featured container */
.feature-container {
    display: flex;
    justify-content: space-between;
    padding: 2%;
}

.feature-shoe img {
    width: 60%;
}

.featured {
    flex-direction: row-reverse;
    /* gap: 90%; */
}